@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hover-list:hover + .hover-list-link {
        display: block;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    font-size: 16px;
}
