@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .heading-accent {
        position: relative;
    }
    .heading-accent:after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: #acc9e8;
        position: absolute;
        top: 70%;
        left: 15px;
    }
    .h1-heading-accent {
        position: relative;
    }
    .h1-heading-accent:after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: #acc9e8;
        position: absolute;
        top: 119%;
        left: 48%;
    }
    .card-accent {
        position: relative;
    }
    .card-accent:after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: #acc9e8;
        position: absolute;
        top: 125%;
        left: 0;
    }
    .leadership-accent {
        position: relative;
    }
    .leadership-accent:after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: #acc9e8;
        position: absolute;
        top: 130%;
        left: 0;
    }
    .text-card-accent {
        position: relative;
    }
    .text-card-accent:after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: #acc9e8;
        position: absolute;
        top: 20%;
        left: 2%;
    }
    .text-card-mobile-accent {
        position: relative;
    }
    .text-card-mobile-accent:after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: #acc9e8;
        position: absolute;
        top: 67%;
        left: 4%;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
}

.BrainhubCarousel__container {
    overflow: visible !important;
}
.BrainhubCarousel {
    overflow: visible !important;
}
.BrainhubCarousel .BrainhubCarousel__trackContainer {
    overflow: clip visible !important;
}

.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
    overflow: visible !important;
}
