@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
=======
}

body {
    background-color: black;
    font-size: 16px;
>>>>>>> 73a9317f4d6e3da1aae1102b3e7f95335adbdb00
}
